<footer class="footer">
  <div class="footer__soc">
    <a class="footer__soc-icons" href="#"><i class="fa-icon-tw"></i></a>
    <a class="footer__soc-icons" href="#"><i class="fa-icon-fb"></i></a>
    <a class="footer__soc-icons" href="#"><i class="fa-icon-vk"></i></a>
  </div>
  <div class="footer__menu">
    <div class="footer__left-nav">
      <h6 class="footer__title">Компания</h6>
      <ul>
        <li><a href="#" class="footer__links">О проекте</a></li>
        <li><a href="#" class="footer__links">Доставка и оплата</a></li>
        <li><a href="#" class="footer__links">Производство</a></li>
        <li><a href="#" class="footer__links">Помощь</a></li>
        <li><a href="#" class="footer__links">Контакты</a></li>
      </ul>
    </div>
    <div class="footer__right-nav">
      <h6 class="footer__title">Каталог</h6>
      <ul>
        <li><a href="#" class="footer__links">Мужская коллекция</a></li>
        <li><a href="#" class="footer__links">Женская коллекция</a></li>
        <li><a href="#" class="footer__links">Скидки</a></li>
        <li><a href="#" class="footer__links">Помощь</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__tel"><a href="tel:+7 (495) 888 77 665">+7 495 888 777 666</a ></div>
  <p class="footer__copyright">Разработка и продвижение сайта <a href="#">advcreative</a></p>
</footer>
