<div class="sidebar">
  <ul class="sidebar__menu">
    <li class="sidebar__cell"><a href="" class="sidebar__link js-toggle-link">Природа</a>
        <ul class="sidebar__submenu">
          <li><a href="" class="sidebar__link">Стихия</a></li>
          <li><a href="" class="sidebar__link">Marco</a></li>
          <li><a href="" class="sidebar__link">Цветы</a></li>
          <li><a href="" class="sidebar__link">Пейзаж</a></li>
        </ul>
    </li>
    <li class="sidebar__cell"><a href="" class="sidebar__link js-toggle-link">Природа</a>
        <ul class="sidebar__submenu">
          <li><a href="" class="sidebar__link">Стихия</a></li>
          <li><a href="" class="sidebar__link">Marco</a></li>
          <li><a href="" class="sidebar__link">Цветы</a></li>
          <li><a href="" class="sidebar__link">Пейзаж</a></li>
        </ul>
    </li>
    <li class="sidebar__cell"><a href="" class="sidebar__link js-toggle-link">Природа</a>
        <ul class="sidebar__submenu">
          <li><a href="" class="sidebar__link">Стихия</a></li>
          <li><a href="" class="sidebar__link">Marco</a></li>
          <li><a href="" class="sidebar__link">Цветы</a></li>
          <li><a href="" class="sidebar__link">Пейзаж</a></li>
        </ul>
    </li>
  </ul>
</div>
