<div class="sidebar">
  <ul class="sidebar__menu">
    <li class="sidebar__cell"><a href="" class="sidebar__link js-toggle-link">Путин</a>
        <ul class="sidebar__submenu">
          <li><a href="#" class="sidebar__sublink">Стихия</a></li>
          <li><a href="#" class="sidebar__sublink">Marco</a></li>
          <li><a href="#" class="sidebar__sublink">Цветы</a></li>
          <li><a href="#" class="sidebar__sublink">Пейзаж</a></li>
        </ul>
    </li>
    <li class="sidebar__cell"><a href="" class="sidebar__link js-toggle-link">Живопись</a>
        <ul class="sidebar__submenu">
          <li><a href="#" class="sidebar__sublink">Стихия</a></li>
          <li><a href="#" class="sidebar__sublink">Marco</a></li>
          <li><a href="#" class="sidebar__sublink">Цветы</a></li>
          <li><a href="#" class="sidebar__sublink">Пейзаж</a></li>
        </ul>
    </li>
    <li class="sidebar__cell is-active"><a href="" class="sidebar__link js-toggle-link">Природа</a>
        <ul class="sidebar__submenu">
          <li><a href="#" class="sidebar__sublink">Стихия</a></li>
          <li><a href="#" class="sidebar__sublink">Marco</a></li>
          <li><a href="#" class="sidebar__sublink">Цветы</a></li>
          <li><a href="#" class="sidebar__sublink">Пейзаж</a></li>
        </ul>
    </li>
    <li class="sidebar__cell"><a href="#" class="sidebar__link js-toggle-link">Животный мир</a></li>
    <li class="sidebar__cell"><a href="#" class="sidebar__link js-toggle-link">Спорт</a></li>
    <li class="sidebar__cell"><a href="#" class="sidebar__link js-toggle-link">Мультфильмы</a></li>
    <li class="sidebar__cell"><a href="#" class="sidebar__link js-toggle-link">Сериалы</a></li>
    <li class="sidebar__cell"><a href="#" class="sidebar__link js-toggle-link">Кино</a>
        <ul class="sidebar__submenu">
          <li><a href="#" class="sidebar__sublink">Стихия</a></li>
          <li><a href="#" class="sidebar__sublink">Marco</a></li>
          <li><a href="#" class="sidebar__sublink">Цветы</a></li>
          <li><a href="#" class="sidebar__sublink">Пейзаж</a></li>
        </ul>
    </li>
    <li class="sidebar__cell"><a href="" class="sidebar__link js-toggle-link">food</a></li>
    <li class="sidebar__cell"><a href="" class="sidebar__link js-toggle-link">travel</a>
        <ul class="sidebar__submenu">
          <li><a href="#" class="sidebar__sublink">Стихия</a></li>
          <li><a href="#" class="sidebar__sublink">Marco</a></li>
          <li><a href="#" class="sidebar__sublink">Цветы</a></li>
          <li><a href="#" class="sidebar__sublink">Пейзаж</a></li>
        </ul>
    </li>
    <li class="sidebar__cell"><a href="" class="sidebar__link js-toggle-link">Музыка</a></li>
  </ul>
</div>
